<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Link_Tools.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Link_Tools.Settings>
            <setting name="t1adi" serializeAs="String">
                <value>Tuş Adı</value>
            </setting>
            <setting name="t1link" serializeAs="String">
                <value>Gidilecek Link</value>
            </setting>
            <setting name="p1gizli" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="t2adi" serializeAs="String">
                <value>Tuş Adı</value>
            </setting>
            <setting name="t2link" serializeAs="String">
                <value>Gidilecek Link</value>
            </setting>
            <setting name="p2gizli" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="t3adi" serializeAs="String">
                <value>Tuş Adı</value>
            </setting>
            <setting name="t3link" serializeAs="String">
                <value>Gidilecek Link</value>
            </setting>
            <setting name="p3gizli" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="t4adi" serializeAs="String">
                <value>Tuş Adı</value>
            </setting>
            <setting name="t4link" serializeAs="String">
                <value>Gidilecek Link</value>
            </setting>
            <setting name="p4gizli" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="t5adi" serializeAs="String">
                <value>Tuş Adı</value>
            </setting>
            <setting name="t5link" serializeAs="String">
                <value>Gidilecek Link</value>
            </setting>
            <setting name="p5gizli" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="t6adi" serializeAs="String">
                <value>Tuş Adı</value>
            </setting>
            <setting name="t6link" serializeAs="String">
                <value>Gidilecek Link</value>
            </setting>
            <setting name="p6gizli" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="t7adi" serializeAs="String">
                <value>Tuş Adı</value>
            </setting>
            <setting name="t7link" serializeAs="String">
                <value>Gidilecek Link</value>
            </setting>
            <setting name="p7gizli" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="t8adi" serializeAs="String">
                <value>Tuş Adı</value>
            </setting>
            <setting name="t8link" serializeAs="String">
                <value>Gidilecek Link</value>
            </setting>
            <setting name="p8gizli" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="t9adi" serializeAs="String">
                <value>Tuş Adı</value>
            </setting>
            <setting name="t9link" serializeAs="String">
                <value>Gidilecek Link</value>
            </setting>
            <setting name="p9gizli" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="t10adi" serializeAs="String">
                <value>Tuş Adı</value>
            </setting>
            <setting name="t10link" serializeAs="String">
                <value>Gidilecek Link</value>
            </setting>
            <setting name="p10gizli" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="konum" serializeAs="String">
                <value />
            </setting>
            <setting name="ac" serializeAs="String">
                <value>False</value>
            </setting>
        </Link_Tools.Settings>
    </userSettings>
</configuration>
